<div class="d-flex flex-wrap justify-content-around">
  <% @bookings.each do |booking| %>
    <div class="card m-3" style="width: 70vw;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to booking.lesson.name, lesson_path(booking.lesson), class: 'link-dark' %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Teacher: <%= booking.lesson.user.first_name %> <%= booking.lesson.user.last_name %> </h6>
        <p class="card-text">
          Time: <%= booking.start_time.strftime('%b %e, %l:%M %p') %> - <%= booking.end_time.strftime('%l:%M %p')%> <br>
          Location: <%= booking.lesson.user.location %> <br>
          <br>
          Price: <%= booking.total_price %> <br>
        </p>
        <div class="d-flex justify-content-center">
          <button class="btn-blue m-1"><%= booking.status.capitalize %>
          </button>
          <button class="btn-yellow m-1">Leave a review<%= link_to  '', new_review_path(@review), class: 'line-dark' %>
          </button>
        </div>
      </div>
    </div>
  <% end %>
</div>
