
  <div class="d-flex flex-wrap justify-content-around">
    <% @lessons.each do |lesson| %>
      <% lesson.bookings.each do |booking| %>
        <div class="card m-3" style="width: 70vw;">  
          <div class="card-body">
            <h5 class="card-title"><%= link_to booking.lesson.name, lesson_path(booking.lesson), class: 'link-dark' %></h5>
            <h6 class="card-subtitle mb-2 text-muted">User: <%= booking.user.first_name %> <%= booking.user.last_name %> </h6>
            <p class="card-text">
            From: <%= booking.start_time.strftime("%F") %> <%= booking.start_time.strftime("at %I:%M%p") %> <br> 
            To: <%= booking.end_time.strftime("%F") %> <%= booking.end_time.strftime("at %I:%M%p") %> <br>
            Location: <%= booking.lesson.user.location %> <br> 
            Status: <%= booking.status %> <br>
            </p>
            <%= link_to "Accept", booking_path(booking.id, status: 'accepted'), method: 'patch', class: "btn btn-success mb-3" %>
            <%= link_to "Decline", booking_path(booking.id, status: 'declined'), method: 'patch', class: "btn btn-danger mb-3" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>