<h1 class="text-center"><%= @lesson.name %></h1>
<div class="container">
  <div class="row">
    <% user = "#{@lesson.user.first_name} #{@lesson.user.last_name}"%>
    <h3> Teacher: <%= link_to user, root_path %> </h3>
    <!-- change root path to user path  -->
    <p><%= @lesson.description %></p>
    <p>The hourly rate for this lesson is: <strong><u> <%= @lesson.price %>€ </u></strong></p>
  </div>
</div>

<% if current_user.lessons.include? @lesson %>
  <%= link_to "Edit lesson", edit_lesson_path(@lesson) %>
<% else %>
  <div class="container">
    <div class="row">
    <h3>Book this session:</h3>
      <%= render 'form', lesson: @lesson, booking: @booking%>
    </div>
  </div>
<% end %>
